@import "tailwindcss";

@theme {
  --font-sans: "Bricolage Grotesque", ui-sans-serif, system-ui, sans-serif;
  --color-sea-950: #082b40;
  --color-sea-900: #0b3954;
  --color-sea-800: #12506f;
  --color-sand: #f6ebd3;
  --color-sun: #ffc93c;
}
